<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Initial ASCII</title>
</head>
  <script src = "./server.js"></script>
<body>
<h1>
  Put In Your Name!
  </h1>
  <form id = "nameToConvert">
    <label for = "name">Name:</label><br>
    <input type = "text" id = "name" name = "name"><br>
    <input type = "submit" value = "Submit">
  </form>
  
  <p id = "output">
    
  </p>
</body>
</html>